.search-box {
    -webkit-appearance: none;
    color: #b7b7b7;
    border: none;
    border-radius: 15px;
    outline: none;
    padding: 10px;
    width: 250px;
    line-height: 30px;
    margin-bottom: 30px;
}
.search-box::placeholder {
    padding-left: 50px;
    color: #b7b7b7;
    font-style: italic;

}